Repository kili-technology/kili-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, notebook-markdown-tutorials

mdformat:
  name: format markdown files
  language: python
  entry: mdformat --number
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - mdformat

notebook-markdown-tutorials:
  name: Checks for notebook and markdown tutorials
  language: python
  entry: python -m docs.utils notebook_tutorials_commit_hook
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  require_serial: true
  additional_dependencies:
  - click
  - nbconvert

docs: add tutorials links to github readme (#904)
  README.md
Due: mdformat

ci: increase timeout for e2e tests
  .github/workflows/e2e_tests.yml
Due: none

docs: add tutorials for importing assets and labels
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  mkdocs.yml
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
  tests/test_notebooks.py
Due: notebook-markdown-tutorials

docs: add tutorials for importing assets and labels
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  docs/utils.py
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
Due: notebook-markdown-tutorials

docs: add tutorials for importing assets and labels
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
Due: notebook-markdown-tutorials

feat: migrate the plugins queries
  src/kili/graphql/operations/plugin/__init__.py
  src/kili/graphql/operations/plugin/mutations.py
  src/kili/graphql/operations/plugin/queries.py
  src/kili/graphql/operations/plugins/__init__.py
  src/kili/graphql/operations/plugins/fragments.py
  src/kili/graphql/operations/plugins/queries.py
  src/kili/queries/plugins/__init__.py
  src/kili/services/plugins/__init__.py
  src/kili/services/plugins/activation.py
  src/kili/services/plugins/deletion.py
  src/kili/services/plugins/list.py
  src/kili/services/plugins/logs.py
  src/kili/services/plugins/upload.py
Due: none

style: fix pylinrc
  .pylintrc
Due: none

docs: add tutorials for importing assets and labels
  docs/sdk/tutorials/basic_project_setup.md
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  recipes/basic_project_setup.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
Due: notebook-markdown-tutorials

style: fix .pylintrc (#943)
  .pylintrc
Due: none

docs: add tutorials for importing assets and labels (#940)
  docs/sdk/tutorials/basic_project_setup.md
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  docs/utils.py
  mkdocs.yml
  recipes/basic_project_setup.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
  tests/test_notebooks.py
Due: notebook-markdown-tutorials

docs: change tutorials ordering
  mkdocs.yml
Due: none

fix: queries indentations
  src/kili/graphql/operations/api_key/queries.py
  src/kili/graphql/operations/asset/queries.py
  src/kili/graphql/operations/issue/queries.py
  src/kili/graphql/operations/label/queries.py
  src/kili/graphql/operations/lock/queries.py
  src/kili/graphql/operations/notification/queries.py
  src/kili/graphql/operations/organization/queries.py
  src/kili/graphql/operations/plugin/queries.py
  src/kili/graphql/operations/project/queries.py
  src/kili/graphql/operations/project_user/queries.py
  src/kili/graphql/operations/project_version/queries.py
  src/kili/graphql/operations/user/queries.py
Due: none

docs: change tutorials ordering (#944)
  mkdocs.yml
Due: none

chore: move fragment_builder inside GraphQLQuery
  src/kili/graphql/__init__.py
  src/kili/graphql/operations/plugin/queries.py
  src/kili/helpers.py
Due: none

ci: do not run notebooks tests on PR merged
  .github/workflows/e2e_tests.yml
Due: none

fix: pylint
  src/kili/graphql/operations/project/queries.py
Due: none

feat: cannot upload plugin without pluginHandler class, error message is sent (#912)
  src/kili/services/plugins/upload.py
Due: none

chore: remove notebook metadata
  .pre-commit-config.yaml
  docs/utils.py
  recipes/basic_project_setup.ipynb
  recipes/counterfactual_data_augmentation.ipynb
  recipes/export_a_kili_project.ipynb
  recipes/frame_dicom_data.ipynb
  recipes/getting-started/getting_started-image_bounding_box_detection.ipynb
  recipes/getting-started/getting_started-image_classification.ipynb
  recipes/getting-started/getting_started-image_semantic_segmentation.ipynb
  recipes/getting-started/getting_started-named-entity-recognition.ipynb
  recipes/import_text_assets.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
  recipes/inference_labels.ipynb
  recipes/medical_imaging.ipynb
  recipes/ocr_pre_annotations.ipynb
  recipes/pixel_level_masks.ipynb
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/query_methods.ipynb
  recipes/set_up_workflows.ipynb
  recipes/webhooks.ipynb
  tests/e2e/create_project.ipynb
  tests/e2e/export_labels.ipynb
  tests/e2e/import_assets.ipynb
  tests/e2e/import_predictions.ipynb
  tests/e2e/paginated_calls_project_lifecycle.ipynb
Due: notebook-markdown-tutorials

chore: remove notebook metadata
  .pre-commit-config.yaml
  recipes/basic_project_setup.ipynb
  recipes/counterfactual_data_augmentation.ipynb
  recipes/export_a_kili_project.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
  recipes/medical_imaging.ipynb
  recipes/ocr_pre_annotations.ipynb
  recipes/pixel_level_masks.ipynb
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/set_up_workflows.ipynb
  recipes/webhooks.ipynb
  tests/e2e/import_predictions.ipynb
Due: notebook-markdown-tutorials

fix: change css font size on the SDK doc website
  docs/stylesheets/extra.css
Due: none

chore: remove useless tags
  recipes/README.md
Due: mdformat

ci: do not run notebook tests for merge on master (#941)
  .github/workflows/e2e_tests.yml
Due: none

chore: remove notebook metadata (#946)
  .pre-commit-config.yaml
  docs/utils.py
  recipes/basic_project_setup.ipynb
  recipes/counterfactual_data_augmentation.ipynb
  recipes/export_a_kili_project.ipynb
  recipes/frame_dicom_data.ipynb
  recipes/getting-started/getting_started-image_bounding_box_detection.ipynb
  recipes/getting-started/getting_started-image_classification.ipynb
  recipes/getting-started/getting_started-image_semantic_segmentation.ipynb
  recipes/getting-started/getting_started-named-entity-recognition.ipynb
  recipes/import_text_assets.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_video_assets.ipynb
  recipes/inference_labels.ipynb
  recipes/medical_imaging.ipynb
  recipes/ocr_pre_annotations.ipynb
  recipes/pixel_level_masks.ipynb
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/query_methods.ipynb
  recipes/set_up_workflows.ipynb
  recipes/webhooks.ipynb
  tests/e2e/create_project.ipynb
  tests/e2e/export_labels.ipynb
  tests/e2e/import_assets.ipynb
  tests/e2e/import_predictions.ipynb
  tests/e2e/paginated_calls_project_lifecycle.ipynb
Due: notebook-markdown-tutorials

refactor: migrate queries in the graphql folder: Plugins (#920)
  src/kili/graphql/__init__.py
  src/kili/graphql/operations/api_key/queries.py
  src/kili/graphql/operations/asset/queries.py
  src/kili/graphql/operations/issue/queries.py
  src/kili/graphql/operations/label/queries.py
  src/kili/graphql/operations/lock/queries.py
  src/kili/graphql/operations/notification/queries.py
  src/kili/graphql/operations/organization/queries.py
  src/kili/graphql/operations/plugin/__init__.py
  src/kili/graphql/operations/plugin/mutations.py
  src/kili/graphql/operations/plugin/queries.py
  src/kili/graphql/operations/plugins/__init__.py
  src/kili/graphql/operations/plugins/fragments.py
  src/kili/graphql/operations/plugins/queries.py
  src/kili/graphql/operations/project/queries.py
  src/kili/graphql/operations/project_user/queries.py
  src/kili/graphql/operations/project_version/queries.py
  src/kili/graphql/operations/user/queries.py
  src/kili/helpers.py
  src/kili/queries/plugins/__init__.py
  src/kili/services/plugins/__init__.py
  src/kili/services/plugins/activation.py
  src/kili/services/plugins/deletion.py
  src/kili/services/plugins/list.py
  src/kili/services/plugins/logs.py
  src/kili/services/plugins/upload.py
Due: none

chore: add E2E test for label validation
  tests/e2e/json_response_validation.py
Due: none

fix: change workflow recipe with classification interface
  docs/sdk/tutorials/set_up_workflows.md
  recipes/set_up_workflows.ipynb
Due: notebook-markdown-tutorials

fix: precommit hook
  recipes/set_up_workflows.ipynb
Due: notebook-markdown-tutorials

fix: E2E tests with label validation (#942)
  docs/sdk/tutorials/set_up_workflows.md
  recipes/set_up_workflows.ipynb
  tests/e2e/json_response_validation.py
Due: notebook-markdown-tutorials

Deployed 2dde272 to 2.128 with MkDocs 1.4.2 and mike 1.1.2
  2.128/404.html
  2.128/cli/index.html
  2.128/cli/reference/index.html
  2.128/index.html
  2.128/label_export/index.html
  2.128/sdk/api_key/index.html
  2.128/sdk/asset/index.html
  2.128/sdk/issue/index.html
  2.128/sdk/label/index.html
  2.128/sdk/notification/index.html
  2.128/sdk/organization/index.html
  2.128/sdk/plugins/index.html
  2.128/sdk/project/index.html
  2.128/sdk/project_user/index.html
  2.128/sdk/project_version/index.html
  2.128/sdk/tutorials/export_a_kili_project/index.html
  2.128/sdk/tutorials/importing_assets_and_labels/index.html
  2.128/sdk/tutorials/importing_video_assets/index.html
  2.128/sdk/tutorials/plugins_development/index.html
  2.128/sdk/tutorials/plugins_example/index.html
  2.128/sdk/tutorials/set_up_workflows/index.html
  2.128/sdk/user/index.html
  2.128/search/search_index.json
  2.128/sitemap.xml
  2.128/sitemap.xml.gz
  2.128/utils.py
  latest/sdk/tutorials/importing_assets_and_labels/index.html
  latest/sdk/tutorials/importing_video_assets/index.html
Due: none

chore: remove useless tags (#948)
  recipes/README.md
Due: mdformat

fix: change css font size on the SDK doc website (#947)
  docs/stylesheets/extra.css
Due: none

ci: remove slack notification for e2e tests ran manually
  .github/workflows/e2e_tests.yml
Due: none

ci: deploy doc workflow on release branch by default
  .github/workflows/deploy_doc.yml
Due: none

ci: remove slack notification for e2e tests ran manually (#950)
  .github/workflows/e2e_tests.yml
Due: none

ci: deploy doc workflow on release branch by default (#951)
  .github/workflows/deploy_doc.yml
Due: none

Path conditions:
  mdformat: any of: .*\.md$, but not: docs\/sdk\/project.md|docs\/sdk\/plugins.md|docs\/cli\/reference.md|docs\/sdk\/tutorials\/.*\.md$
  notebook-markdown-tutorials: any of: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
