Repository kili-technology/kili-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebook-metadata, notebook-markdown-tutorials

clean-notebook-metadata:
  name: Clean notebook metadata
  language: python
  entry: jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - nbconvert

notebook-markdown-tutorials:
  name: Checks for notebook and markdown tutorials
  language: python
  entry: python -m docs.utils notebook_tutorials_commit_hook
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  require_serial: true
  additional_dependencies:
  - click
  - nbconvert

chore: add data for coco import tutorial (#1301)
  docs/sdk/tutorials/importing_coco.md
  docs/tutorials.md
  mkdocs.yml
  recipes/datasets/coco2017/annotations/captions_val2017_filtered.json
  recipes/datasets/coco2017/annotations/instances_val2017_filtered.json
  recipes/datasets/coco2017/annotations/person_keypoints_val2017_filtered.json
  recipes/datasets/coco2017/filter_coco_annotations.py
  recipes/importing_coco.ipynb
  tests/test_notebooks.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

test: add delay after mutation to account for replica lag
  tests/e2e/test_projects.py
Due: none

test: add delay after mutation to account for replica lag (#1324)
  tests/e2e/test_projects.py
Due: none

chore: format
  src/kili/core/helpers.py
  src/kili/entrypoints/cli/project/member/add.py
  src/kili/entrypoints/cli/project/member/update.py
  src/kili/entrypoints/mutations/asset/__init__.py
  src/kili/entrypoints/mutations/label/__init__.py
  src/kili/entrypoints/queries/asset/__init__.py
  src/kili/orm.py
  src/kili/services/asset_import/base.py
  src/kili/services/export/format/base.py
  src/kili/services/export/tools.py
  tests/integration/entrypoints/mutations/test_assets.py
  tests/integration/entrypoints/mutations/test_project.py
Due: none

fix: wait for project to be archived in `archive_project`
  src/kili/entrypoints/mutations/project/__init__.py
  tests/e2e/test_projects.py
Due: none

fix: wait for project to be archived in `archive_project`
  tests/e2e/test_projects.py
Due: none

fix: add `graphql_client` attribute to `KiliInternal`
  src/kili/entrypoints/mutations/organization/__init__.py
  src/kili/internal/__init__.py
Due: none

test: disable `test_projects_query_archived_project`
  tests/e2e/test_projects.py
Due: none

fix: add `graphql_client` attribute to `KiliInternal` (#1328)
  src/kili/entrypoints/mutations/organization/__init__.py
  src/kili/internal/__init__.py
Due: none

test: fix
  tests/e2e/test_projects.py
Due: none

backup
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson.py
  tests/utils/labels/test_geojson.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: geojson
  docs/sdk/tutorials/geojson.md
  docs/tutorials.md
  mkdocs.yml
  src/kili/utils/labels/geojson.py
  tests/test_notebooks.py
  tests/utils/labels/test_geojson.py
Due: notebook-markdown-tutorials

feat: line geojson
  src/kili/utils/labels/geojson.py
  tests/utils/labels/test_geojson.py
Due: none

feat: line geojson
  docs/sdk/label_utils.md
Due: none

feat: add job name to properties
  src/kili/utils/labels/geojson.py
  tests/utils/labels/test_geojson.py
Due: none

feat: add kili to geojson primitives
  src/kili/utils/labels/geojson.py
  tests/utils/labels/test_geojson.py
Due: none

chore: organize code
  docs/sdk/label_utils.md
  src/kili/utils/labels/geojson.py
  src/kili/utils/labels/geojson/__init__.py
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
Due: none

docs:
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
Due: none

docs:
  docs/sdk/label_utils.md
  docs/sdk/tutorials/geojson.md
  recipes/datasets/geojson_tutorial_labels.json
  recipes/geojson.ipynb
  src/kili/services/label_data_parsing/bounding_poly.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs:
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson/__init__.py
  src/kili/utils/labels/geojson/collection.py
  tests/utils/labels/test_geojson.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs:
  src/kili/utils/labels/geojson/collection.py
Due: none

docs:
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson/__init__.py
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
  tests/utils/labels/test_geojson.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs:
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
  tests/services/label_data_parsing/mutation/test_mutation_exceptions.py
  tests/utils/labels/test_geojson.py
Due: none

docs:
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: up
  docs/sdk/tutorials/geojson.md
  mkdocs.yml
  recipes/geojson.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix:
  src/kili/entrypoints/mutations/project/__init__.py
Due: none

fix: wait for project to be archived in `archive_project` (#1327)
  src/kili/entrypoints/mutations/project/__init__.py
  tests/e2e/test_projects.py
Due: none

feat:
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson/__init__.py
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/line.py
  src/kili/utils/labels/geojson/point.py
  src/kili/utils/labels/geojson/polygon.py
  src/kili/utils/labels/geojson/segmentation.py
  tests/utils/labels/test_geojson.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

test: enable test archive project in test_projects.py
  tests/e2e/test_projects.py
Due: none

feat:
  docs/sdk/tutorials/geojson.md
  recipes/geojson.ipynb
  src/kili/utils/labels/geojson/bbox.py
  src/kili/utils/labels/geojson/collection.py
  src/kili/utils/labels/geojson/polygon.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

chore: backup
  src/kili/services/export/format/base.py
  src/kili/services/export/format/kili/__init__.py
  src/kili/services/export/tools.py
Due: none

Path conditions:
  clean-notebook-metadata: any of: .*\.ipynb$
  notebook-markdown-tutorials: any of: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
