Repository kili-technology/kili-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebook-metadata, notebook-markdown-tutorials

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        args: [--in-place,  --black, --wrap-summaries=0, --wrap-descriptions=0]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.1.0
    hooks:
      - id: nb-clean
        args:
          - --preserve-cell-outputs
          - --preserve-cell-metadata
          - tags
          - --

  - repo: local
    hooks:
      - id: clean-notebook-metadata
        name: Clean notebook metadata
        language: python
        entry: jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace
        files: .*\.ipynb$
        stages: [commit, merge-commit]
        always_run: false
        pass_filenames: true
        additional_dependencies: [nbconvert]
      - id: notebook-markdown-tutorials
        name: Checks for notebook and markdown tutorials
        language: python
        entry: python -m docs.utils notebook_tutorials_commit_hook
        files: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
        stages: [commit, merge-commit]
        always_run: false
        pass_filenames: true
        require_serial: true
        additional_dependencies: [click, nbconvert]
      - id: detect-kili-api-key
        name: Detect Kili API key
        language: python
        entry: python .github/scripts/detect_api_key.py
        stages: [commit, merge-commit]
        always_run: false
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args:
            - --fix-only  # TODO: set this to "--fix" when all manual fixes are done
            - --exit-non-zero-on-fix
      - id: ruff-format
        types_or: [python, pyi, jupyter]

Bump version: 2.151.0 → 2.152.0
  pyproject.toml
  src/kili/__init__.py
Due: none

chore(deps): upgrades pyrate-limiter (#1653)
  pyproject.toml
  src/kili/core/graphql/graphql_client.py
  tests/unit/test_graphql_client.py
Due: none

fix(SUP-1444): added case handling for ranges without keyframes
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
  src/kili/adapters/kili_api_gateway/label/annotation_to_json_response.py
Due: none

test(SUP-1444): added tests
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
  src/kili/adapters/kili_api_gateway/label/annotation_to_json_response.py
  src/kili/core/graphql/graphql_client.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_15.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_16.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_17.py
  tests/unit/adapters/kili_api_gateway/label/test_label_utils.py
  tests/unit/test_graphql_client.py
Due: none

fix(SUP-1444): bug in annotation export json file (#1658)
  src/kili/adapters/kili_api_gateway/label/annotation_to_json_response.py
  src/kili/core/graphql/graphql_client.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_15.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_16.py
  tests/unit/adapters/kili_api_gateway/label/test_data/test_case_17.py
  tests/unit/adapters/kili_api_gateway/label/test_label_utils.py
  tests/unit/test_graphql_client.py
Due: none

Bump version: 2.152.0 → 2.152.1
  pyproject.toml
  src/kili/__init__.py
Due: none

fix(SUP-1444): fixed RequestRate import from pyrate_limiter
  src/kili/__init__.py
  src/kili/core/graphql/graphql_client.py
  tests/unit/test_graphql_client.py
Due: none

Bump version: 2.152.1 → 2.152.2
  pyproject.toml
  src/kili/__init__.py
Due: none

fix: correct import of pyrate_limiter
  src/kili/core/graphql/graphql_client.py
  tests/unit/test_graphql_client.py
Due: none

Deployed aef6613 to 2.152 with MkDocs 1.5.3 and mike 2.0.0
  2.152/sitemap.xml.gz
Due: none

feat(lab-2753): add support for multilayer
  src/kili/entrypoints/mutations/asset/__init__.py
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/image.py
  src/kili/services/asset_import/types.py
Due: none

fix: type issue
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/text.py
Due: none

fix: add some validation to remove url from content for multi layer
  src/kili/services/asset_import/__init__.py
  src/kili/services/asset_import/base.py
Due: none

feat: add possibility to add metadata on layer for multi-layer import
  src/kili/entrypoints/mutations/asset/__init__.py
  src/kili/services/asset_import/__init__.py
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/image.py
  src/kili/services/asset_import/types.py
Due: none

feat: add test for multi-layer
  tests/unit/services/asset_import/base.py
  tests/unit/services/asset_import/test_import_image.py
Due: none

feat: add support of filters for azure sas token integrations
  src/kili/use_cases/cloud_storage/__init__.py
  src/kili/use_cases/cloud_storage/azure.py
Due: none

fix:
  src/kili/core/utils/pagination.py
  src/kili/domain/types.py
  src/kili/entrypoints/mutations/asset/__init__.py
Due: none

feat: add support of filters for azure sas token integrations (#1667)
  src/kili/use_cases/cloud_storage/__init__.py
  src/kili/use_cases/cloud_storage/azure.py
Due: none

feat(lab-2753): add support for multilayer (#1665)
  src/kili/entrypoints/mutations/asset/__init__.py
  src/kili/services/asset_import/__init__.py
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/image.py
  src/kili/services/asset_import/text.py
  src/kili/services/asset_import/types.py
  tests/unit/services/asset_import/base.py
  tests/unit/services/asset_import/test_import_image.py
Due: none

Bump version: 2.152.0 → 2.153.0
  pyproject.toml
  src/kili/__init__.py
Due: none

fix(LAB-2676): add sleep for wait for inference to be compute in notebook test
  docs/sdk/tutorials/inference_labels.md
  recipes/inference_labels.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix: make selected_folders still work
  src/kili/use_cases/cloud_storage/azure.py
Due: none

fix(LAB-2676): add sleep for wait for inference in notebook (#1666)
  docs/sdk/tutorials/inference_labels.md
  recipes/inference_labels.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix: make selected_folders still work (#1670)
  src/kili/use_cases/cloud_storage/azure.py
Due: none

fix(LAB-2676): udpate time sleep for inference
  recipes/inference_labels.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

doc(LAB-2768): add documentation for multi-layer geosat import
  docs/sdk/tutorials/importing_multilayer_geosat_assets.md
  docs/tutorials.md
  mkdocs.yml
  src/kili/entrypoints/mutations/asset/__init__.py
Due: notebook-markdown-tutorials

chore(LAB-2768): add documentation for multi-layer geosat import
  docs/sdk/tutorials/importing_multilayer_geosat_assets.md
  docs/tutorials.md
  mkdocs.yml
  recipes/importing_multilayer_geosat_assets.ipynb
  src/kili/entrypoints/mutations/asset/__init__.py
  tests/e2e/test_notebooks.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

chore(LAB-2768): add documentation for multi-layer geosat import (#1673)
  docs/sdk/tutorials/importing_multilayer_geosat_assets.md
  docs/tutorials.md
  mkdocs.yml
  recipes/importing_multilayer_geosat_assets.ipynb
  src/kili/entrypoints/mutations/asset/__init__.py
  tests/e2e/test_notebooks.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

Bump version: 2.153.0 → 2.153.1
  pyproject.toml
  src/kili/__init__.py
Due: none

test: fix notebook tests
  docs/sdk/tutorials/importing_multilayer_geosat_assets.md
  recipes/importing_multilayer_geosat_assets.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix: ignore json loads errors
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/adapters/kili_api_gateway/label/formatters.py
  src/kili/adapters/kili_api_gateway/project/formatters.py
  src/kili/services/copy_project/__init__.py
Due: none

fix: ignore json loads errors (#1676)
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/adapters/kili_api_gateway/label/formatters.py
  src/kili/adapters/kili_api_gateway/project/formatters.py
  src/kili/services/copy_project/__init__.py
Due: none

feat: 🎸 parse ocrMetadata json file
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
Due: none
