Repository kili-technology/kili-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebook-metadata, notebook-markdown-tutorials

clean-notebook-metadata:
  name: Clean notebook metadata
  language: python
  entry: jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - nbconvert

notebook-markdown-tutorials:
  name: Checks for notebook and markdown tutorials
  language: python
  entry: python -m docs.utils notebook_tutorials_commit_hook
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  require_serial: true
  additional_dependencies:
  - click
  - nbconvert

test: fix
  src/kili/services/data_connection/__init__.py
  src/kili/services/data_connection/azure.py
  tests/e2e/test_cloud_storage.py
Due: none

docs: add tutorial
  docs/sdk/tutorials/finetuning_dinov2.md
  docs/tutorials.md
  mkdocs.yml
  recipes/finetuning_dinov2.ipynb
  tests/test_notebooks.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

test: fix
  src/kili/services/data_connection/__init__.py
Due: none

fix: fix sync cloud storage method (#1242)
  docs/sdk/tutorials/importing_assets_and_labels.md
  recipes/importing_assets_and_labels.ipynb
  src/kili/entrypoints/mutations/data_connection/__init__.py
  src/kili/services/data_connection/__init__.py
  src/kili/services/data_connection/azure.py
  tests/e2e/test_cloud_storage.py
  tests/integration/entrypoints/mutations/test_sync_data_connection.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

ci: increase the graphql client retries (#1240)
  src/kili/core/graphql/graphql_client.py
Due: none

docs: sort imports (#1250)
  .pre-commit-config.yaml
  docs/sdk/tutorials/basic_project_setup.md
  docs/sdk/tutorials/export_a_kili_project.md
  docs/sdk/tutorials/import_text_assets.md
  docs/sdk/tutorials/importing_assets_and_labels.md
  docs/sdk/tutorials/importing_labels.md
  docs/sdk/tutorials/importing_video_assets.md
  docs/sdk/tutorials/inference_labels.md
  docs/sdk/tutorials/medical_imaging.md
  docs/sdk/tutorials/ner_pre_annotations_openai.md
  docs/sdk/tutorials/ocr_pre_annotations.md
  docs/sdk/tutorials/pixel_level_masks.md
  docs/sdk/tutorials/plugins_development.md
  docs/sdk/tutorials/plugins_example.md
  docs/sdk/tutorials/set_up_workflows.md
  docs/sdk/tutorials/tagtog_to_kili.md
  docs/sdk/tutorials/webhooks_example.md
  recipes/basic_project_setup.ipynb
  recipes/export_a_kili_project.ipynb
  recipes/frame_dicom_data.ipynb
  recipes/import_text_assets.ipynb
  recipes/importing_assets_and_labels.ipynb
  recipes/importing_labels.ipynb
  recipes/importing_video_assets.ipynb
  recipes/inference_labels.ipynb
  recipes/medical_imaging.ipynb
  recipes/ner_pre_annotations_openai.ipynb
  recipes/ocr_pre_annotations.ipynb
  recipes/pixel_level_masks.ipynb
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/plugins_example_document.ipynb
  recipes/set_up_workflows.ipynb
  recipes/tagtog_to_kili.ipynb
  recipes/webhooks_example.ipynb
  tests/e2e/plugin_workflow.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

Bump version: 2.135.1 → 2.135.2
  setup.cfg
  src/kili/__init__.py
Due: none

Deployed b14d568 to 2.135 with MkDocs 1.4.3 and mike 1.1.2
  2.135/sdk/cloud_storage/index.html
  2.135/sdk/tutorials/basic_project_setup/index.html
  2.135/sdk/tutorials/export_a_kili_project/index.html
  2.135/sdk/tutorials/import_text_assets/index.html
  2.135/sdk/tutorials/importing_assets_and_labels/index.html
  2.135/sdk/tutorials/importing_labels/index.html
  2.135/sdk/tutorials/importing_video_assets/index.html
  2.135/sdk/tutorials/inference_labels/index.html
  2.135/sdk/tutorials/medical_imaging/index.html
  2.135/sdk/tutorials/ner_pre_annotations_openai/index.html
  2.135/sdk/tutorials/ocr_pre_annotations/index.html
  2.135/sdk/tutorials/pixel_level_masks/index.html
  2.135/sdk/tutorials/plugins_development/index.html
  2.135/sdk/tutorials/plugins_example/index.html
  2.135/sdk/tutorials/set_up_workflows/index.html
  2.135/sdk/tutorials/tagtog_to_kili/index.html
  2.135/sdk/tutorials/webhooks_example/index.html
  2.135/search/search_index.json
  2.135/sitemap.xml
  2.135/sitemap.xml.gz
Due: none

Update setup.py
  setup.py
Due: none

Update e2e_tests.yml
  .github/workflows/e2e_tests.yml
Due: none

test: add timeout to e2e tests (#1257)
  .github/workflows/e2e_tests.yml
  setup.py
Due: none

docs: update
  docs/sdk/tutorials/finetuning_dinov2.md
  docs/tutorials.md
  mkdocs.yml
  recipes/finetuning_dinov2.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: add tutorial finetuning with dinov2 (#1254)
  docs/sdk/tutorials/finetuning_dinov2.md
  docs/tutorials.md
  mkdocs.yml
  recipes/finetuning_dinov2.ipynb
  tests/test_notebooks.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: upload notebook
  recipes/Kili_fine_tuning_tutorial.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: update append_labels docstring
  src/kili/entrypoints/mutations/label/__init__.py
Due: none

docs: update append_labels docstring (#1260)
  src/kili/entrypoints/mutations/label/__init__.py
Due: none

ci: Update setup.py
  setup.py
Due: none

feat: add disable_tqdm arg to create_predictions
  src/kili/entrypoints/mutations/label/__init__.py
Due: none

feat: add disable_tqdm arg to create_predictions (#1261)
  src/kili/entrypoints/mutations/label/__init__.py
Due: none

fix: disable schema caching when cannot write on disk
  src/kili/core/graphql/graphql_client.py
  tests/test_client.py
Due: none

fix: disable schema caching when cannot write on disk
  tests/test_client.py
Due: none

fix: add params to kili client
  src/kili/client.py
  src/kili/core/authentication.py
  src/kili/core/graphql/graphql_client.py
  tests/test_client.py
Due: none

docs: update
  recipes/Kili_fine_tuning_tutorial.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix: add params to kili client
  src/kili/core/authentication.py
Due: none

feat: add graphql_client_params arg to Kili client (#1262)
  src/kili/client.py
  src/kili/core/authentication.py
  src/kili/core/graphql/graphql_client.py
  tests/test_client.py
Due: none

Bump version: 2.135.2 → 2.136.0
  setup.cfg
  src/kili/__init__.py
Due: none

docs: rename and fix
  recipes/finetuning_openai.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

docs: add notebook for openai finetuning with kili (#1259)
  recipes/finetuning_openai.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix: also parse latestLabel of kili.assets
  src/kili/entrypoints/queries/asset/__init__.py
  tests/services/label_data_parsing/test_label_utils.py
Due: none

fix: also parse latestLabel of kili.assets
  src/kili/entrypoints/queries/asset/__init__.py
Due: none

fix: also parse latestLabel of kili.assets (#1266)
  src/kili/entrypoints/queries/asset/__init__.py
  tests/services/label_data_parsing/test_label_utils.py
Due: none

docs: fix dead link in tutorials homepage
  docs/tutorials.md
Due: none

chore: fix pyright errors
  src/kili/core/authentication.py
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/video.py
Due: none

chore: fix pyright errors
  src/kili/services/asset_import/base.py
Due: none

chore: fix pyright errors (#1268)
  src/kili/core/authentication.py
  src/kili/services/asset_import/base.py
  src/kili/services/asset_import/video.py
Due: none

feat: rm simple kili format in notebook
  tests/e2e/export_labels.ipynb
Due: clean-notebook-metadata

feat: rm simple kili format in orm and doc
  docs/sdk/tutorials/export_a_kili_project.md
  recipes/export_a_kili_project.ipynb
  src/kili/orm.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

Path conditions:
  clean-notebook-metadata: any of: .*\.ipynb$
  notebook-markdown-tutorials: any of: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
