Repository kili-technology/kili-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebook-metadata, notebook-markdown-tutorials

clean-notebook-metadata:
  name: Clean notebook metadata
  language: python
  entry: jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - nbconvert

notebook-markdown-tutorials:
  name: Checks for notebook and markdown tutorials
  language: python
  entry: python -m docs.utils notebook_tutorials_commit_hook
  stages:
  - commit
  - merge-commit
  always_run: false
  pass_filenames: true
  require_serial: true
  additional_dependencies:
  - click
  - nbconvert

feat(LAB-4112): add tqdm management for opening issues
  src/kili/domain_api/issues.py
Due: none

feat(LAB-4112): add tqdm management for client_domain
  src/kili/client_domain.py
Due: none

feat(LAB-4163): update kili-formats to manage export of LLM projects
  pyproject.toml
Due: none

fix(LAB-4118): add a warning log to inform the user he uses a deprecated field
  src/kili/core/graphql/graphql_client.py
  tests/integration/entrypoints/client/test_client.py
  tests/unit/test_graphql_client.py
Due: none

Bump version: 25.2.6 → 25.2.7
  pyproject.toml
  src/kili/__init__.py
Due: none

feat(LAB-4123): faster exports with the SDK
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
  src/kili/adapters/kili_api_gateway/label/formatters.py
  src/kili/adapters/kili_api_gateway/label/operations_mixin.py
  src/kili/llm/services/export/__init__.py
  src/kili/services/copy_project/__init__.py
  src/kili/services/export/tools.py
  tests/integration/adapters/kili_api_gateway/test_label.py
  tests/unit/adapters/kili_api_gateway/asset/__init__.py
  tests/unit/adapters/kili_api_gateway/asset/test_formatters.py
  tests/unit/services/export/test_export.py
Due: none

feat(LAB-4123): update ThreadPoolExecutor to asyncio
  pyproject.toml
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  tests/unit/adapters/kili_api_gateway/asset/test_formatters.py
Due: none

feat(LAB-4123): use http_client instead of httpx
  pyproject.toml
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/adapters/kili_api_gateway/helpers/http_json.py
  src/kili/adapters/kili_api_gateway/label/formatters.py
  tests/unit/adapters/kili_api_gateway/asset/test_formatters.py
Due: none

chore: fix deploy-doc & pre_release pipelines
  .github/scripts/utils.sh
  .github/workflows/deploy_doc.yml
  .github/workflows/pre_release.yml
Due: none

feat(LAB-4018): remove unused Right enum
  src/kili/core/enums.py
Due: none

Bump version: 26.1.1 → 26.1.2
  pyproject.toml
  src/kili/__init__.py
Due: none

feat(lab-3584): remove legacy plugin handlers
  docs/sdk/tutorials/plugins_example.md
  docs/sdk/tutorials/plugins_library.md
  recipes/plugins_example.ipynb
  recipes/plugins_example_document.ipynb
  recipes/plugins_library/README.md
  recipes/plugins_library/plugin_image.py
  src/kili/domain_api/plugins.py
  src/kili/entrypoints/mutations/plugins/__init__.py
  src/kili/services/plugins/model.py
  src/kili/services/plugins/upload.py
  tests/unit/services/plugins/plugin_folder/main.py
  tests/unit/services/plugins/test_unit_plugins.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

chore: update documentation to add configuration page
  docs/configuration.md
  docs/sdk/tutorials/plugins_library.md
  mkdocs.yml
Due: notebook-markdown-tutorials

feat(lab-3584): update documentation to fully remove onSubmit and onReview
  docs/sdk/plugins.md
  docs/sdk/tutorials/plugins_development.md
  docs/sdk/tutorials/plugins_example.md
  docs/sdk/tutorials/plugins_library.md
  mkdocs.yml
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/plugins_library/README.md
  src/kili/entrypoints/mutations/plugins/__init__.py
  src/kili/services/plugins/model.py
  src/kili/services/plugins/upload.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

feat(LAB-4165): add audio asset import support
  src/kili/services/asset_import/__init__.py
  src/kili/services/asset_import/audio.py
Due: none

Revert "feat(lab-3584): update documentation to fully remove onSubmit and onR…"
  docs/sdk/plugins.md
  docs/sdk/tutorials/plugins_development.md
  docs/sdk/tutorials/plugins_example.md
  docs/sdk/tutorials/plugins_library.md
  mkdocs.yml
  recipes/plugins_development.ipynb
  recipes/plugins_example.ipynb
  recipes/plugins_library/README.md
  src/kili/entrypoints/mutations/plugins/__init__.py
  src/kili/services/plugins/model.py
  src/kili/services/plugins/upload.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

Revert "feat(lab-3584): remove legacy plugin handlers"
  docs/sdk/tutorials/plugins_example.md
  docs/sdk/tutorials/plugins_library.md
  recipes/plugins_example.ipynb
  recipes/plugins_example_document.ipynb
  recipes/plugins_library/README.md
  recipes/plugins_library/plugin_image.py
  src/kili/domain_api/plugins.py
  src/kili/entrypoints/mutations/plugins/__init__.py
  src/kili/services/plugins/model.py
  src/kili/services/plugins/upload.py
  tests/unit/services/plugins/plugin_folder/main.py
  tests/unit/services/plugins/test_unit_plugins.py
Due: clean-notebook-metadata, notebook-markdown-tutorials

Bump version: 26.1.2 → 26.1.3
  pyproject.toml
  src/kili/__init__.py
Due: none

feat(LAB-4165): add `create_audio` method in client domain assets namespace
  src/kili/domain_api/assets.py
  tests/unit/domain_api/test_assets.py
Due: none

fix(LAB-4173): create methods to add or remove reviewers on a step and add fields parameter in get_steps method
  src/kili/adapters/kili_api_gateway/project_workflow/operations.py
  src/kili/adapters/kili_api_gateway/project_workflow/operations_mixin.py
  src/kili/domain_api/projects.py
  src/kili/presentation/client/project_workflow.py
  src/kili/use_cases/project_workflow/__init__.py
Due: none

chore(LAB-3996): bump kili-formats to 1.3.0
  pyproject.toml
Due: none

fix(LAB-3996): update FakeFFmpegVideoSplitter to accept new kili-formats kwargs
  tests/unit/services/export/fakes/fake_ffmpeg.py
Due: none

fix(SUP-2586): do not return annotations if not asked
  src/kili/adapters/kili_api_gateway/asset/operations.py
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
  src/kili/adapters/kili_api_gateway/label/operations_mixin.py
  src/kili/llm/services/export/__init__.py
  src/kili/services/export/tools.py
  tests/integration/adapters/kili_api_gateway/test_asset.py
  tests/integration/adapters/kili_api_gateway/test_label.py
  tests/unit/services/export/test_export.py
Due: none

fix(SUP-2586): remove unused code
  src/kili/adapters/kili_api_gateway/label/common.py
  src/kili/adapters/kili_api_gateway/label/operations.py
  tests/integration/adapters/kili_api_gateway/test_asset.py
Due: none

feat(LAB-4125): in consensus labeling step, I export all annotators' latest labeled versions
  pyproject.toml
  src/kili/adapters/kili_api_gateway/asset/formatters.py
  src/kili/domain_api/exports.py
  src/kili/presentation/client/label.py
  src/kili/services/export/format/base.py
  src/kili/services/export/format/kili/__init__.py
  src/kili/services/export/tools.py
  src/kili/services/export/types.py
  tests/unit/services/export/test_latest_labels_export.py
Due: none

fix(LAB-4125): handle all the formats with latestLabels
  src/kili/services/export/format/coco/__init__.py
  src/kili/services/export/format/geojson/__init__.py
  src/kili/services/export/format/voc/__init__.py
  src/kili/services/export/format/yolo/__init__.py
  tests/unit/services/export/test_coco.py
  tests/unit/services/export/test_geojson.py
  tests/unit/services/export/test_voc.py
  tests/unit/services/export/test_yolo.py
Due: none

feat(LAB-4125): handle both workflow in the export
  src/kili/domain_api/exports.py
  tests/unit/domain_api/test_exports_auto_selection.py
Due: none

Bump version: 26.1.3 → 26.1.4
  pyproject.toml
  src/kili/__init__.py
Due: none

fix: broken gql dependency
  pyproject.toml
Due: none

Bump version: 25.2.7 → 25.2.8
  pyproject.toml
  src/kili/__init__.py
Due: none

Bump version: 26.1.4 → 26.1.5
  pyproject.toml
  src/kili/__init__.py
Due: none

Deployed aa76421 to 26.1 with MkDocs 1.6.1 and mike 2.1.3
  26.1/cli/reference/index.html
  26.1/search/search_index.json
  26.1/sitemap.xml
  26.1/sitemap.xml.gz
Due: none

doc: fix dead links
  .lycheeignore
  docs/sdk/tutorials/set_up_workflows.md
  recipes/finetuning_openai.ipynb
  recipes/set_up_workflows.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

fix(LAB-4269): LLM project need annotations as the jsonResponseUrl is not compute for those project
  src/kili/adapters/kili_api_gateway/asset/operations.py
  src/kili/adapters/kili_api_gateway/asset/operations_mixin.py
  src/kili/adapters/kili_api_gateway/label/common.py
  src/kili/adapters/kili_api_gateway/label/operations_mixin.py
Due: none

fix: relocate medical dataset in our public bucket
  docs/sdk/tutorials/medical_imaging.md
  recipes/datasets/0000a175-0e68-4ca4-b1af-167204a7e0bc.dcm
  recipes/datasets/0005d3cc-3c3f-40b9-93c3-46231c3eb813.dcm
  recipes/medical_imaging.ipynb
Due: clean-notebook-metadata, notebook-markdown-tutorials

Path conditions:
  clean-notebook-metadata: any of: .*\.ipynb$
  notebook-markdown-tutorials: any of: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
